@font-face {
  font-family: 'Digital';
  src: url(fonts/DIGITAL/DS-DIGIB.TTF);
}
@font-face {
  font-family: 'Fira';
  src: url(fonts/FIRA/FiraCode-VariableFont_wght.ttf);
}

* {
  user-select: none;
  font-family: 'Digital';
  margin:0;
}

body {
  background-color: #000000;
  color:#5c5c5c;
}

.clock {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.clock > div {
  display: flex;
  flex-direction: column;
  gap:10px;
  justify-content: center;
}

.clock h2 {
  font-family:'Fira';
  letter-spacing:8px;
}

.clock p {
  font-weight:bold;
  font-size:1.5em;
}

@media only screen and (min-width:768px) {
  .clock h1 {
    font-size:5em;
  }
}

@media only screen and (max-width:769px) {
  .clock h1 {
    font-size:3em;
  }
}


